html, body
{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas
{
    width: 100%;
    height: 100%;
    /* solarized light */
    background-color: #F0ECE0;
}

header
{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
}

header button
{
    height: 45px;
    width: 45px;
    border: 1px solid white;
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.75);
    font-size: 30px;
    font-family: serif;
    color: white;
    margin-right: 5px;
}

footer
{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.toolbox
{
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
    background-color: #222;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    align-items: center;
}

.toolbox button
{
    height: 45px;
    width: 45px;
    border: 1px solid white;
    border-radius: 5px;
    filter: invert();
}

.toolbox button img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.toolbox button.selected
{
    filter: invert(0);
}